@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&display=swap');

.landing {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 6rem 10rem;
}

.picture {
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    justify-content: space-around;
    padding: 6rem 10rem;
}

.login-left {
    width: 35%;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home {
    padding: 3rem 10rem;
}

.home-top {
    display: flex;
    justify-content: space-between;
}

.home-top h1 {
    margin-bottom: 2rem;
}

.home-bottom {
    display: flex;
    justify-content: space-between;
}

.home-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.home-card img {
    border-radius: 8px;
}

.home-card p {
    font-size: 2rem;
}

.card-left {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.file-warning {
    margin: 5px 0px;
}

.input-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 4px;
}

.input-image input {
    border: none;
    margin-bottom: 0px;
}

.detail-bottom {
    display: flex;
    gap: 10rem;
}